flows.json
[
    {
        "id": "1fa46118f4f122b4",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "3 botones 2 led 1 DHT11"
    },
    {
        "id": "6acb75e72c90ec23",
        "type": "mqtt in",
        "z": "1fa46118f4f122b4",
        "name": "",
        "topic": "esp32/data",
        "qos": "2",
        "datatype": "auto",
        "broker": "cd19ad63313fa054",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "dfd3f51c92736a67",
                "25b1d5853c07fccc"
            ]
        ]
    },
    {
        "id": "dfd3f51c92736a67",
        "type": "ui_text",
        "z": "1fa46118f4f122b4",
        "group": "f8be81c57e27c5c1",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 350,
        "y": 120,
        "wires": []
    },
    {
        "id": "a9bf1a724e89b2e3",
        "type": "ui_switch",
        "z": "1fa46118f4f122b4",
        "name": "",
        "label": "Manual",
        "tooltip": "",
        "group": "f4e702beb3672006",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "btn1on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "btn1off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "33f9f28a2a006091"
            ]
        ]
    },
    {
        "id": "33f9f28a2a006091",
        "type": "mqtt out",
        "z": "1fa46118f4f122b4",
        "name": "",
        "topic": "esp32/output",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cd19ad63313fa054",
        "x": 370,
        "y": 180,
        "wires": []
    },
    {
        "id": "25b1d5853c07fccc",
        "type": "debug",
        "z": "1fa46118f4f122b4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 80,
        "wires": []
    },
    {
        "id": "865ba129bdd9b3db",
        "type": "ui_switch",
        "z": "1fa46118f4f122b4",
        "name": "",
        "label": "Alta Demanda",
        "tooltip": "",
        "group": "f4e702beb3672006",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "btn2on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "btn2off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "33f9f28a2a006091"
            ]
        ]
    },
    {
        "id": "cd19ad63313fa054",
        "type": "mqtt-broker",
        "name": "",
        "broker": "35.157.221.58",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f8be81c57e27c5c1",
        "type": "ui_group",
        "name": "Rx",
        "tab": "cebb3f53d288520d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f4e702beb3672006",
        "type": "ui_group",
        "name": "Tx",
        "tab": "cebb3f53d288520d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cebb3f53d288520d",
        "type": "ui_tab",
        "name": "Comunicación MQTT con ESP32CAM",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]